/*

	Note: 1.5em = 1 baseline
	
	look at this for setting up your baseline in css
	http://www.elliotswan.com/2008/02/15/blueprint-css-how-to-customizing-typography-baselines/
	
	- James
*/
body {
	letter-spacing:0.03em;
}

#header {
	height:63px;
}

#navigation{
	margin-bottom:.6em;
}

#contentimage {
	background:#AAA;
	height:36em;
	margin-bottom:1em;
}

#sidebartitle {
	margin-top:1em;
	margin-bottom:-1.1em;
	color:#00CCCC;
}

#sidebartitle h2 {
	color:#808080;
}

#sidebar a:link {color:#000000; text-decoration: none;}    /* unvisited link */
#sidebar a:visited {color:#0000FF} /* visited link */
#sidebar a:hover {color:#808080; text-decoration: none;}   /* mouse over link */
#sidebar a:active {color:#000000; text-decoration: none;}  /* selected link */

#navigation a:link {color:#000000; text-decoration: none;}
#navigation a:hover {color:	#808080; text-decoration: none;}
