/*

	Note: 1.5em = 1 baseline
	
	look at this for setting up your baseline in css
	http://www.elliotswan.com/2008/02/15/blueprint-css-how-to-customizing-typography-baselines/
	
	- James
*/

#header {
	margin-bottom:1em;
}

#navigation{
	margin-bottom:.6em;
}

#contentimage {
	background:#AAA;
	height:36em;
	margin-bottom:1em;
}

#sidebartitle {
	margin-top:1em;
	border-bottom:4px dotted;
	margin-bottom: 1em;
}