<div class="span-18">
  <div id="content">
    <%= render(:partial => 'content', :object => @content) %>
  </div>
</div>
<div class="span-6 last">
  <h2>Navigation</h2>
  <% @pages.each do |page| %>
    <%= link_to_remote page.title, :update => 'content',
      :url => { :action => 'change_page', :id => page.id } %>
    <br/>
  <% end %>

</div>
